<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Familiar y template 2!</h1>
    <p>El nomre es: {{nombre}}.</p>
    <p>El apellido es: {{apellido}}.</p>
    <p>La edad es: {{edad}}.</p>
    <p>La fecha de nacimiento es: {{fechaDeNacimiento}}.</p>
    <p>Este familiar es mi {{relacion}}.</p>

</body>
</html>